[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=z:\\sys\\bin\\test-shell-service "this should 'fail' because of an unterminated quote 
